# ignore emacs file 
*~
# ignore Repeated file that generated in echa dir and  test funcation 
main.c
_putchar.c
*main.c
# Ignore executable files
!2-main.c
!3-main.c
a.out
crackme3
# ignore old
test/
# Ignore Gitignore itself
.gitignore

# Ignore specific files in /0x17-doubly_linked_lists/
0x17-doubly_linked_lists/main.c
0x17-doubly_linked_lists/lists.h
.vscode/settings.json
