# ignore emacs file 
*~
# ignore Repeated file that generated in echa dir and  test funcation 
main.c
_putchar.c
*main.c
# Ignore executable files
!2-main.c
!3-main.c
a.out
crackme3
# ignore old
0x14-bit_manipulation
0x15-file_io